
body{
    font-family: 'Open Sans';
}

.grid{
    display: grid;
}

/*Cabecera*/
.header{
    display: block;
    z-index: 9;
    width: 100%;
    -webkit-box-shadow: 0 0.15rem 0.1rem 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0.15rem 0.1rem 0 rgba(0, 0, 0, 0.05);

}

/*Contenedores */
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/*Navegador --> Márgenes verticales py-2 */
#nav{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    
}


/*Logo*/
.logo {
    float: left;
    display: initial;
    font-style: none;
    font-size: 2em;
    margin-left: 20px;
    text-decoration: none;
    color: black;

}
.logo:hover{
    color: blueviolet;
}

/* Menu desplegable */
.navegador{
    margin-right: 20%;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    float: right;
    width:8%;
   
}
#menu{
    text-decoration: none;
    background-color: black;
    color: white;
    font-size: medium;

}
ul{
    list-style: none;
}

.navegador >ul {
    float: left;
    width: 20vw;
    margin-top: 50%;
    margin-left: -100%;
}

.navegador li a{
    background-color: black;
    color: white;
    text-decoration: none;
    display: block;
}
 .navegador li a:hover{
     color: red;
 }

 .navegador ul{
     display: none;
 }
 .navegador:hover >ul {
     display: block;
 }
 .navegador li ul{
     display: none;
     position: absolute;
 }
 .navegador li:hover >ul{
     display: block;
     width: 20vw;
 }
 .navegador li ul li{
     position: relative;
 }

/* Fin de estilos del navegador*/



/* Layout  */

/*Caja inicio*/
.banner{
    border:1px black solid;
    grid-template-rows: repeat(2fr);
    text-align: center;
    padding: 10%;
    background-color: grey;
    color: white;
    margin: 0%;
}

/*Boton caja inicio*/

.btn{
    text-decoration: none;
    border: 1px solid white;
    padding: 2%;
}

.btn:link{
    color: white;
}


.btn:visited{
    color: white;
}

/*Primera sección */

.section1{
    text-align: center;

}

#loremSection1{
    padding: 5%;
    text-indent: 
    5%;
}

/*Segunda seccion*/

.section2{
    background-color: rgb(214, 235, 235);
    margin-top: 10%;
}

#img3{
    margin-top: 15%;
    margin-left: 10%;
    border-radius: 1%;
}

.section2 h4{
    margin-left: 10%;
}

.section2 h5{
    color: teal;
}

/* Cajas con iconos de la sección 2, se repite 4 veces */
.pakIcon{
    margin-left: 8%;
}
.tarjeta{
    
    width: 50%;
    margin-left: 15%;
    margin-top: 5%;
}

.icon{
    border-radius: 100% ;
    border: 1px solid;
    float: left;
    margin-left: 3%;
    padding: 2%;
    
}

/*Tercera Sección */

.section3{
    margin-top: 10%;
    padding: 8%;
}

.central{
    text-align: center;
    border: grey 1px solid;
    padding: 5%;
}

/*Cuarta Sección */

.section4{
    margin-top: 10%;
    margin-left: 10%;
}

.logros{
    padding-right: 3%;
}

/*Barras de logros*/

.logros hr{
    height: 5px; 
}

#simple{
    width: 20%;
    float: left;
    background-color: green;
}


#online{
    width: 40%;
    float: left;
    background-color: blue;
}

#social{
    width: 70%;
    float: left;
    background-color: yellow;
}


#support{
    width: 100%;
    background-color: red;
}
/*Fin barras */

.article{
    margin-top: 8%;
   padding: 3%;
}

/*Quinta sección*/

.section5{
    margin-top: 25%;
    display: inline-flex;
    margin-left: 6%;
}

.section5 img{
    width: 200px;
}

.dires{
    width: 30vw;
    text-align: center;
}

.dires h5{
    color: royalblue;
}

.texto {
    padding: 20%;
}

.redes{
    display: inline-flex;
}
.redes div{
    border: grey 1px solid;
    padding: 3%;
    font-size: 10px;
}

/*Sexta Sección*/

.section6{
    display: inline-flex;
}

.fondo1{
    background-image: url("images/test1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    color: white;
    padding:5%;
    
}

.fondo2{
    background-image: url("images/test2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    color: white;
    padding:5%;
}


/*Septima seccion*/

.section7{
    text-align: center;
    padding: 5%;
}

.botones{
    display: inline-flex;
    
}
.boton{
    border: violet 2px solid;
    padding:10%

}

.botones :last-child{
    margin-left: 5%;
}

/*Octava seccion*/

.seccion8 {
    background-color: #282b34;
    padding-bottom: 5%;
}

.cajaSeccion {
    padding:5%;
    padding-left: 8%;
}

.contacto {
    color: white;
    text-align: center;
}

.tex {
    color: white;
    text-align: center;
    padding: 3%;
}

.cajaIcono {
    padding: 1%;
    display: inline-flex;
    align-items: center;
}

.cajaContacto {

    text-align: center;
    display: inline-flex;
    color: azure;
    margin-left: 3%;
   
}
.cajaContacto p{
    margin-left: 50%;
}



.fa-home {
    background-color: aliceblue;
    padding: 1em;
    border-radius: 50%;
}

.fa-envelope {
    background-color: aliceblue;
    padding: 1em;
    border-radius: 50%;
}

.fa-phone {
    background-color: aliceblue;
    padding: 1em;
    border-radius: 50%;
}

.cajaFormulario{
   margin-left: -10%;
    width: 90%;
}


.cajaFormulario input,
.cajaFormulario textarea {
    outline: none;
    padding: 15px 15px;
    font-size: 14px;
    color: #fff;
    background: #282b34ab;
    width: 90%;
    letter-spacing: 3px;
    border: 1px solid #5b5f6b;
    border-radius: 0.25em;
}

.cajaFormulario textarea {
    min-height: 13em;
    margin: 1em 0em 2.5em 0;
    resize: none;
}

.cajaFormulario .botonesBonito,
.cajaFormulario .botonesReset {
    outline: none;
    padding: 14px 0;
    font-size: 15px;
    color: #fff;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.28);
    width: 30%;
    letter-spacing: 0.25em;
    border-radius: 0.25em;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
}

.cajaFormulario .botonesBonito,
.cajaFormulario .botonesReset:hover {
    background-color: #6a67ce;
    border: 1px solid #6a67ce;

}

.formulario {
    background-color: #e2e2e2;
    border: none;
}

.inputsContacto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 20%;
    padding-left: 20%;
}



/*Footer*/
footer{
    background-color: rgb(75, 94, 94);
    color: white;

}

footer p, footer h5{
    margin-left: 5%;
}

.socialMedia{
    float: right;
    display: inline-flex;
    margin-right: 3%;
    margin-top: -5%;

}
.socialMedia div{
    margin-right: 3%;

}



/*Media querys*/

@media (min-width: 992px) and (max-width: 1199.98px)  {

    #logo {
        display: block;
        padding: 0;
        width: 100%;
        text-align: center;
        float: none;
    }


    .btn{
       padding:1%
    }

    .section2{
        display: inline-flex;
    }
    .icons{
        margin-top: 15%;
        padding: 3%;
    }

    .icon1{
        float: left;
        
    }

    .icon2{
        float: right;
    }

    .pakIcon{
        width: 50%;
    }

    .section4{
        display: inline-flex;
    }

    .article{
        margin-top: -5%;
        margin-left: 20%;
    }

    .logros{
        width: 30vw;
    }

    .socialMedia{
        margin-top: -3%;
    }
  
    


}

@media (min-width:1200px){

    .btn{
       padding:1%
    }

    .section2{
        display: inline-flex;
    }
    .icons{
        margin-top: 15%;
        padding: 3%;

    }

    .icon1{
        float: left;
        
    }

    .icon2{
        float: right;
    }

    .pakIcon{
        width: 50%;
    }

    .section4{
        display: inline-flex;
    }

    .article{
        margin-top: -5%;
        margin-left: 20%;
    }

    .logros{
        width: 30vw;
    }

    
    .socialMedia{
        margin-top: -3%;
    }
  


}
